{% extends 'base.html.twig' %}

{% block title %}OpenBase{% endblock %}
 
{% block body %}


<div class="h-56 bg-blue w-full ">
    <div class="bg-blue ">
    
        TEST BG
        <div id="app"></div>
    
    </div>
    
</div>



{% endblock %}
